//===================== Fonts Roboto ==========================

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Light.woff2") format("WOFF2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Regular.woff2") format("WOFF2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.woff2") format("WOFF2");
  font-weight: 500;
  font-display: swap;
}

