@use "@scss/abstract/index";

$styles: (
  ".m-auto": (
    margin: 0 auto,
  ),
  ".mt-0": (
    margin-top: 0,
  ),
  ".mb-0": (
    margin-bottom: 0,
  ),
  ".mr-0": (
    margin-right: 0,
  ),
  ".ml-0": (
    margin-left: 0,
  ),
  ".mt-1": (
    margin-top: 1rem,
  ),
  ".mb-1": (
    margin-bottom: 1rem,
  ),
  ".mr-1": (
    margin-right: 1rem,
  ),
  ".ml-1": (
    margin-left: 1rem,
  ),
);

@include index.generate_styles($styles);
