@use "@scss/abstract/index";

$styles: (
  ".p-auto": (
    padding: auto,
  ),
  ".pt-1": (
    padding-top: 1rem,
  ),
  ".pb-1": (
    padding-bottom: 1rem,
  ),
  ".pr-1": (
    padding-right: 1rem,
  ),
  ".pl-1": (
    padding-left: 1rem,
  )
);

@include index.generate_styles($styles);
