@use "@scss/abstract/index";

$styles: (
	".text-center": (
		text-align: center,
	),
	".text-left": (
		text-align: left,
	),
	".text-right": (
		text-align: right,
	),
	".text-initial": (
		text-align: initial,
	),
	".text-uppercase": (
		text-transform: uppercase,
	),
	".text-lowercase": (
		text-transform: none,
	),
);

@include index.generate_styles($styles);
